nav
  .switch(): button
  input(type="search", placeholder="Busca un niño ...", ng-model="q.name")
  button Settings
.children
    .kid(height="c.height",weight="c.weight",ng-repeat="c in children | filter:q.name")
      | {{c.name}}
    //a.add(href="#/child/new") +
ul.alerts(ng-hide="showAlerts")
    li(ng-repeat="a in alerts") {{ a.name }}
    p(ng-hide="alerts") No tienes notificaciones nuevas
