img(src='images/logo.svg',alt='El Dorado logo')
p.
    Recomendamos el registro usando Facebook,
    así podrás comparar tus resultados con los
    de tus amigos.

a.button.facebook(ng-click="") Ingresa con Facebook
a.button.email(ng-click="") Registro con E-Mail
a.button(ng-click="") Ya estoy registrado

p no deseo registrarme
    a solo jugar

//- filter used from CSS by Firefox for the bg image
svg(version="1.1",xmlns="http://www.w3.org/2000/svg")
    filter(id="bgFilter")
        feGaussianBlur(stdDeviation="5")
        feColorMatrix(type="saturate", values="1.4")
        feColorMatrix(type="matrix", values="0.6965 0.3845 0.0945 0 0 0.1745 0.8430000000000001 0.084 0 0 0.136 0.267 0.5655 0 0 0 0 0 1 0")