.children
    .kid(ng-repeat="c in children")
    .kid(height="1",weight="1")
    .kid(height="0.7",weight="0.5")
    a.add(href="#/child/new") +
ul.alerts
    li(ng-repeat="a in alerts") {{ a.name }}
p(ng-hide="alerts") No tienes notificaciones nuevas