@import colors

body
  background url('../images/pattern.png')
  background-color cbg
  color cmain
  overflow-y hidden

button, .button
  background fade-out(white, 20%)
  border none
  color cmain
  border-radius 5px
  height 20vw
  display block
  margin 3vw auto


section
  height 100%
  width 100%
  padding 10vw


#cool
  absolute bottom -5vw left 50%
  margin-left -12vw
  background white
  border-radius 24vw
  height 24vw
  width 24vw
  box-shadow 0 0 4px fade-out(black,70%)

footer
  height 15vw
  background cmain
  width 100%
  absolute bottom 0 left 0
  box-shadow 0 0 5px fade-out(black,70%)

/*#home*/